---
layout: default
---

<div class="home">
    <div class="container">
      {{ content }}


      {% for post in site.posts %}


  <div class="row">

     <div class="col-md-6">

        <img src="{{ post.image }}" class="img-responsive" alt="{{ post.image-alt }}"/>

      </div>

      <div class="post-list col-md-5">


              <p class="categories">{{ post.categories }}</p>
            <h2>
            {{ post.title | escape }}
            </h2>
            <p>{{ post.description }}</p>
            <p class="skills">{{ post.skills }}</p>


      </div>

    </div>
      <!-- button will show post.content -->

      {% endfor %}


    </div>

</div>
