---
layout: default
---

<div class="home">
    <div class="container">
      {{ content }}


      {% for post in site.posts %}


      <div>

        <img src="{{ post.image }}" class="img-responsive" alt="{{ post.image-alt }}"/>

      </div>

      <ul class="post-list">

          <li>
              <p class="categories">{{ post.categories }}</p>
            <h2>
            {{ post.title | escape }}
            </h2>
            <p>{{ post.description }}</p>
            <p class="skills">{{ post.skills }}</p>

          </li>
        {% endfor %}
      </ul>
      <!-- button will show post.content -->

    </div>

</div>
