---
layout: default
---

<div class="home">
    <div class="container">
      {{ content }}


      {% for post in site.posts %}


          <div class="row">

             <div class="col-xs-12 col-md-6">

                <img src="{{ post.image }}" class="img-responsive" alt="{{ post.alt }}"/>

              </div>
                    <div class="post-details col-xs-12 col-md-4">


                            <p class="categories">{{ post.categories }}</p>


                                  <h2>{{ post.title | escape }}</h2>

                                 <!-- excessive forward slashes -->
                                  <div class="lines-underline"><p>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////</p></div>

                                  <p class="skills">{{ post.skills }}</p>

                                <p>{{ post.description }}</p>



                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 <button class="btn">VIEW MORE</button>
                             </a>

                    </div>

            </div>

                  <div class="row">


                    <!-- button will show post.content -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">

                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                        {{post.content}}
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

              {% endfor %}


    </div>

</div>
